:root {
/* COLOR VARIABLES */
/* primary and secondary colors and variants */
--spc-primary:            #122140; /* primary color */
--spc-primary-light:      #3d486b; /* primary color, lighter variant */
--spc-primary-dark:       #00001b; /* primary color, darker variant */
--spc-secondary:          #e5be00; /* secondary color */
--spc-secondary-light:    #fff14d; /* secondary color, lighter variant */
--spc-secondary-dark:     #ae8f00; /* secondary color, darker variant */

--rstudio-bkg: #F8F8F8;
}


h1, h2, h3 {
  font-weight: normal;
  color: var(--spc-primary-light);
  line-height: 1.2em;
}

.remark-slide-content h3 {
  font-size: 1.4em;
}

a, a > code {
  color: var(--spc-primary-light);
  border-bottom: 3px solid var(--spc-primary-light);
  line-height: 1.3em;
}

a:hover {
  border-bottom: none;
}

/*-- PARAGRAPH TEXT --*/
.remark-slide-content {
  font-size:          1.4rem;
  line-height:        1.2em;
}

hr {
  content:            '';
  display:            block;
  border:             none;
  background-color:   var(--spc-primary-light);
  height:             0.08em;
}

.inverse hr { background-color: var(--rstudio-bkg)}

.inverse {
  background-color: var(--spc-primary);
  text-shadow: none;
}

.inverse, .inverse h1, .inverse h2, .inverse h3, .inverse a, inverse a > code {
  color: var(--rstudio-bkg);
}


/* title slide */
.title-slide {
  background-color: var(--spc-primary);
}
.title-slide h1 {
  color: var(--rstudio-bkg);
}
.title-slide h2, .title-slide h3 {
  color: var(--rstudio-bkg);
  line-height: 1em;
}
.title-slide .remark-slide-number {
  display: none;
}

/* about me slide */
.about-me {
  background-image: url(https://images.unsplash.com/photo-1505168125601-4ddfdea4c7e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2102&q=80);
  background-position: 52% 5%;
  background-size: cover;
  background-color: var(--spc-primary-dark);
}

/* penguin tour slide */
.penguin-tour {
  background-image: url(https://images.unsplash.com/photo-1591792111137-5b8219d5fad6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=4350&q=80);
  background-position: 52% 5%;
  background-size: cover;
  background-color: var(--spc-primary);
}

/* footnotes */
.footnote {
  position: absolute;
  bottom: 1em;
  right: 5px;
  padding-right: 1em;
  font-size: 80%;
}

.small-text {
  font-size: 80%;
}

.fade {
  opacity: 0.5;
}

/* 3-column split */
/* https://rstudio-education.github.io/teaching-in-production/ */

.flex {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.column {
  float: left;
  width: 25%;
  text-align: center;
}


/*-------*/
.left-column {
  color: #2E3440;
  width: 20%;
  height: 92%;
  float: left;
}

.columns {
  display: flex;
}

.left-col {
  width: 33%;
  text-align: left;
}

.middle-col {
  width: 33%;
  text-align: left;
  padding-left: 20px;
}

.right-col {
  width: 33%;
  text-align: left;
  padding-left: 20px;
}

/* inline code highlighting */
/* https://github.com/yihui/xaringan/wiki/Inline-code-highlighting */

.remark-code-line-highlighted { 
  background-color: rgba(61,72,107, 0.1);
}

/*-- In-line highlighting within text --*/
.remark-code, .remark-inline-code {
  font-size:          80%;
  color:              var(--spc-primary-dark);
  background:         rgba(61,72,107, 0.1);
  border-radius:      3px;
  padding:            1px 1px 1px 1px;
}

/* code chunk background layer */
pre {
  /*border: 2px solid rgba(204, 189, 204, 0.8); /* code chunk border*/
  border: 4px solid rgba(61,72,107, 0.3);
  box-shadow: 0px 0px 0px 0px #eee;
  padding: none;                     /* padding between code chunk and border */
  background: none !important;
  overflow-x: auto;
  border-radius: 1px;                 /* modify rounding of corners*/
}

pre code {
  background: none;
  font-size: 0.8em !important;
}

/*-- Custom class for the about-me slide --*/
.about-me-slide h1 {
  color:              var(--spc-primary);
  font-weight:        600;
}