h1, h2, h3 {
  font-weight: normal;
  color: #562457;
}
a, a > code {
  color: #88398a;
}

.inverse {
  /*background-color: #2E3440;*/
  background-color: #562457;
  text-shadow: none;
}

.inverse, .inverse h1, .inverse h2, .inverse h3, .inverse a, inverse a > code {
  color: #ECEFF4;
}

/* title slide */
.title-slide {
  background-color: #562457;
}
.title-slide h1 {
  color: #ECEFF4;
}
.title-slide h2, .title-slide h3 {
  color: #ECEFF4; 
  line-height: 1em;
}

/* about me slide */
.about-me {
  background-image: url(https://images.unsplash.com/photo-1505168125601-4ddfdea4c7e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2102&q=80);
  background-position: 52% 5%;
  background-size: cover;
  background-color: #181830;
}
.about-me h1 {
  color: #562457;
  opacity: 1;
}
.about-me h2, .about-me h3 {
  color: #562457; 
  line-height: 1em;
  font-weight: 400;
}
.about-me a {
  color: #88398a;
}

/* penguin tour slide */
.penguin-tour {
  background-image: url(https://images.unsplash.com/photo-1591792111137-5b8219d5fad6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=4350&q=80);
  background-position: 52% 5%;
  background-size: cover;
  background-color: #181830;
}

/* footnotes */
.footnote {
  position: absolute;
  bottom: 1em;
  right: 5px;
  padding-right: 1em;
  font-size: 80%;
}

.small-text {
  font-size: 80%;
}

/* 3-column split */
/* https://rstudio-education.github.io/teaching-in-production/ */

.flex {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.column {
  float: left;
  width: 25%;
  text-align: center;
}


/*-------*/
.left-column {
  color: #2E3440;
  width: 20%;
  height: 92%;
  float: left;
}

.columns {
  display: flex;
}

.left-col {
  width: 33%;
  text-align: left;
}

.middle-col {
  width: 33%;
  text-align: left;
  padding-left: 20px;
}

.right-col {
  width: 33%;
  text-align: left;
  padding-left: 20px;
}

/* inline code highlighting */
/* https://github.com/yihui/xaringan/wiki/Inline-code-highlighting */

.remark-code-line-highlighted { 
  /*background-color: rgba(136, 57, 138, 0.3); */
  background-color: rgba(204, 189, 204, 0.6);
}

.remark-inline-code{
  /* background: #F5F5F5; /* lighter */
  background: rgba(204, 189, 204, 0.4);
  border-radius: 0px;
  padding: 0.5 0 0.5 0px;
}

/* code chunk background layer */
pre {
  /*border: 2px solid rgba(204, 189, 204, 0.8); /* code chunk border*/
  border: none;
  box-shadow: 2px 2px 2px 2px #eee;
  padding: 0.1em;                     /* padding between code chunk and border */
  background: none !important;
  overflow-x: auto;
  border-radius: 1px;                 /* modify rounding of corners*/
}
pre code {
  background: none;
  font-size: 1.3rem !important;
}
