@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');

@import url('https://fonts.googleapis.com/css?family=Lora:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500');

body { 
  font-family:'Fira Sans', sans-serif;
  font-weight: 400;
  color: #2E3440;

}

.remark-slide-content {
    font-size: 22px;
    padding: 1em 4em 1em 4em;
}

h1 {
  font-family: 'Lora', serif;
  font-weight: 500;
  color: #562457;
}

h2 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  color: #2E3440;
}

h3 {
  font-family: 'Fira Sans', sans-serif;
  /*text-transform: uppercase;*/
  font-weight: 400;
  color: #2E3440;
  font-size: 1.3em !important;
}

h4, h5, h6 {
  font-family: 'Fira Sans', serif;
  font-weight: 350;
  color: #2E3440;
}

.remark-code, .remark-inline-code { 
  font-family: 'Roboto Mono', monospace; 
  color: #88398A}